###########################################################
#
# File name: .gitignore
# Author: Kevin
# Description: ignore some files when committing or pushing
#
###########################################################

# Object file and executable file
*.o
rftu

# Swap file
*.swp

# File being edited
*~
